<form id="edit-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Brandname')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-brandname" data-rule="required" class="form-control" name="row[brandname]" type="text" value="{$row.brandname|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Brand_username')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-brand_username" class="form-control" name="row[brand_username]" type="text" value="{$row.brand_username|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Brand_userid')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-brand_userid" class="form-control" name="row[brand_userid]" type="text" value="{$row.brand_userid|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('State')}:</label>
        <div class="col-xs-12 col-sm-8">
                        
            <select  id="c-state" class="form-control selectpicker" name="row[state]">
                {foreach name="stateList" item="vo"}
                    <option value="{$key}" {in name="key" value="$row.state"}selected{/in}>{$vo}</option>
                {/foreach}
            </select>

        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Untype')}:</label>
        <div class="col-xs-12 col-sm-8">
                        
            <select  id="c-untype" class="form-control selectpicker" name="row[untype]">
                {foreach name="untypeList" item="vo"}
                    <option value="{$key}" {in name="key" value="$row.untype"}selected{/in}>{$vo}</option>
                {/foreach}
            </select>

        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Is_get')}:</label>
        <div class="col-xs-12 col-sm-8">
            
            <div class="radio">
            {foreach name="isGetList" item="vo"}
            <label for="row[is_get]-{$key}"><input id="row[is_get]-{$key}" name="row[is_get]" type="radio" value="{$key}" {in name="key" value="$row.is_get"}checked{/in} /> {$vo}</label> 
            {/foreach}
            </div>

        </div>
    </div>
    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-success btn-embossed disabled">{:__('OK')}</button>
            <button type="reset" class="btn btn-default btn-embossed">{:__('Reset')}</button>
        </div>
    </div>
</form>
